[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Trve Kvlt Black Metal
Exec=mycroft-gui-app --hideTextInput --skill=skill-trve-kvlt.jarbasskills.home
Icon=trvekvlt_icon
Categories=VoiceApp
StartupNotify=false
